*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Abel', sans-serif;
}
h1, h2{
  font-family: 'Amatic SC', cursive;
}
#images, #content{
  width: 50%;
  float: left;
  overflow: hidden;
}
ul{
  position: relative;
  width: 100%;
  height: 100vh;
}
#content >ul{
  background-color: #ecf0f1;
}
#content>ul>li, #images>ul>li{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateX(100%);
  transition: translate 0.9s;
  padding: 25px;
}
#content>ul> li.is-selected, #images>ul> li.is-selected{
  position: absolute;
  transform: translateX(0);
  transition: all 0.9s;
}
#content>ul> li.move-left, #images>ul> li.move-left{
  transform: translateX(-100%);
    transition: all 0.9s;
}
#content>ul> li.move-right, #images>ul> li.move-right{
  transform: translateX(100%);
    transition: all 0.9s;
}
#images >ul>li:nth-child(1){
  background: url(https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/29388364_10157241911147586_8679635123966455415_n.jpg?_nc_cat=0&oh=5d0dbde102ac7910d89033019fecd995&oe=5B449D91) no-repeat;
  background-size: cover;
}
#images >ul>li:nth-child(2){
  background: url(https://www.surveyearth.com/assets/public/images/456.jpg) no-repeat;
  background-size: cover;
}

article{
  width: 80%;
}
nav{
  width: 50%;
  min-height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
}
.menu{
  flex-grow: 1;
  width: 33.33%;
  background-color: rgba(0,0,0,0.5);
  color: white;
  display: flex;
}
.menu>h3{
  margin: auto;
}
.menu:hover{
  background-color: rgba(0,0,0,0.7);
}

#skills{
  margin-top: 10%;
}
.grid-container{
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-rows: 100px 100px;
  text-align: center;
  margin-top: 10px;
}
#item1{
  margin-top: 15%;
}
#item5{
  background-image: url('https://www.raspberrypi.org/app/uploads/2015/08/raspberry-pi-logo.png');
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}
#item6{
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  background-image: url('https://screenshot.click/w9fm0fj340062wi.jpg');
  background-position: center;
}
#item6 > p{
  margin-top: 10%;
}
#item6 > p > a{
  color: white;
  text-decoration: inherit;
}
#item6 > p > a:hover{
  text-decoration: underline;
}
#content > ul > li.is-selected{
  overflow: auto;
  margin-bottom: 50px;
}
@media (max-width: 750px) {
  #images {
    display: none;
  }
  #content {
    width: 100%;
  }
  nav {
    width: 100%;
  }
  #content > ul > li:nth-child(1){
    background: url(https://download.unsplash.com/photo-1433354359170-23a4ae7338c6) no-repeat;
  background-size: cover;
  }
  #content > ul > li:nth-child(2){
    background: url(https://download.unsplash.com/photo-1433785124354-92116416b870) no-repeat;
  background-size: cover;
  }
  #skills{
    margin-top: 5%;
  }
}